/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:14px 'PT Sans', sans-serif; background:#fff; color:#4e3c2a; }
div,menu,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,legend,label,select,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
    line-height: 1.4;
}
button                         { cursor: pointer; }
select, input, textarea        { font-size:12px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
img                            { vertical-align: top; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:14px 'PT Sans', sans-serif; color:#000; text-decoration:underline; }
a:hover                        { text-decoration:none; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }
.clearfix:after                { content: ""; display: block; clear: both; visibility: hidden;}
.clearfix                      { display: inline-block; width: 100% }

.content {
	width: 1000px;
	margin: 0 auto;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FONTS----------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrapper {
    min-height: 100%;
}
.wrapper:after {
    content: '';
    display: block;
    width: 100%;
    height: 116px;
}
.wrap-header {
    overflow: hidden;
    margin-bottom: 35px;
    background: #F7F7F7;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.header {
    position: relative;
    z-index: 10;
    padding: 11px 0;
}
.header:before {
    content: '';
    position: absolute;
    right: 801px;
    top: 0;
    height: 67px;
    width: 3000px;
    background: #F5F4F4;
}
.header:after {
    content: '';
    display: block;
    position: absolute;
    right: 765px;
    top: 0;
    width: 36px;
    height: 67px;
    background: url("../images/header/triagle_menu.png") no-repeat;
}
    .main-logo {
        display: block;
        position: absolute;
        left: 0;
        top: 15px;
        text-decoration: none;
    }
    .nav {
        overflow: hidden;
    }
        .nav li {
            float: left;
            padding: 10px 7px;
        }
        .nav li:first-child {
            margin-left: 0;
        }
        .nav li:last-child {
            margin-right: 0;
        }
            .nav li:before {
                content: '';
                float: left;
                width: 1px;
                height: 13px;
                margin: 3px 15px 0 0;
                background: #DFDFDF;
            }
            .nav li:first-child:before {
                display: none;
            }
            .nav a {
                font-size: 13px;
                text-decoration: none;
                text-transform: uppercase;
            }
            .nav a:hover {
                color: #80797E;
            }
            .nav .active {
                background: url("../images/header/arrow_menu.png") no-repeat bottom center;
            }
    .main-nav ul {
        float: right;
    }
        .main-nav a {
            color: #342d32;
        }
    .sub-header {
        overflow: hidden;
        position: relative;
        height: 525px;
        color: #fff;
        background: url("../images/header/bg_subscription_block.jpg") repeat;
    }
    .sub-header .content {
        position: relative;
        padding-top: 75px;
        height: 450px;
    }
        .wrap-foto-man {
            position: absolute;
            z-index: 0;
            top: 5px;
            right: -205px;
            display: block;
            width: 846px;
            height: 525px;
            background: url("../images/header/light_fon_man.png") no-repeat;
        }
            .wrap-foto-man img {
                margin-left: 125px;
            }
        .sub-header .small-text,
        .sub-header .big-text,
        .subscribe-form {
            position: relative;
            z-index: 10;
            display: block;
        }
        .sub-header .big-text {
            width: 535px;
            margin-bottom: 25px;
            font-size: 35px;
        }
        .sub-header .small-text {
            width: 320px;
            margin-bottom: 25px;
            font-size: 18px;
        }
        .subscribe-form {
            position: absolute;
            bottom: 65px;
        }
            .subscribe-form fieldset {
                display: block;
                margin: 0 0 5px 10px;
                font-size: 11px;
                text-transform: uppercase;
            }
            .subscribe-form ul {
                overflow: hidden;
                width: 924px;
                padding: 13px 43px 13px 33px;
                background: rgba(255, 255, 255, 0.6);
                border: 1px solid #858787;
            }
                .subscribe-form li {
                    float: left;
                    margin-left: 47px;
                }
                .subscribe-form li:first-child {
                    margin-left: 0;
                }
                    .btn-big {
                        width: 200px;
                        padding: 8px 0 7px;
                        font-size: 20px;
                        color: #fff;
                        background: #F67004;
                        text-transform: uppercase;
                        text-align: center;

                        -webkit-transition: all .3s;
                        -moz-transition: all .3s;
                        -ms-transition: all .3s;
                        -o-transition: all .3s;
                        transition: all .3s;
                    }
                    .btn-big:hover {
                        background: #CA5D03;
                    }
                    .subscribe-form input,
                    .subscribe-form .btn-big {
                        border: 1px solid #858787;
                        font-size: 17px;
                    }
                    .subscribe-form input {
                        width: 267px;
                        height: 35px;
                        padding: 0 10px 0 35px;
                        font-size: 11px;
                        color: #323132;
                    }
                    .subscribe-form .name {
                        background: url("../images/header/icon_name.png") rgba(255, 255, 255, 0.6) 10px 5px no-repeat;
                    }
                    .subscribe-form .mail {
                        background: url("../images/header/icon_letter.png") rgba(255, 255, 255, 0.6) 10px 10px no-repeat;
                    }
                    .subscribe-form input::-webkit-input-placeholder {color: #323232; text-transform: uppercase;}
                    .subscribe-form input::-moz-placeholder          {color: #323232; text-transform: uppercase;}
                    .subscribe-form input:-moz-placeholder           {color: #323232; text-transform: uppercase;}
                    .subscribe-form input:-ms-input-placeholder      {color: #323232; text-transform: uppercase;}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.main-content {
    float: left;
    width: 665px;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------SIDEBAR--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.sidebar {
    float: right;
    width: 305px;
}
    .box-cat {
        margin-bottom: 30px;
    }
        .name-section-grey {
            border-bottom: 1px solid #333;
        }
        .name-section-orange {
            border-bottom: 1px solid #F67004;
        }
            .name-section-grey h3,
            .name-section-orange h3 {
                width: 200px;
                padding: 8px 0 7px;
                font-size: 20px;
                color: #fff;
                text-transform: uppercase;
                text-align: center;
                background: #333;
                font-weight: 400;
            }
            .name-section-orange h3 {
                background: #F67004;
            }

            .list-cat li {
                padding: 8px 5px 8px 50px;
                margin-bottom: 1px;
                background: url("../images/sidebar/filter_icons_category.png") 13px 7px no-repeat #E5E5E5;
            }
            .list-cat .news {
                background-position: 13px -32px;
            }
            .list-cat .training {
                background-position: 14px -71px;
            }
            .list-cat .useful {
                background-position: 14px -111px;
            }
                .list-cat a {
                    color: #303330;
                    font-size: 18px;
                    text-decoration: none;
                }
                .list-cat a:hover {
                    text-decoration: underline;
                }
        .search-form {
            margin-bottom: 30px;
            padding: 10px;
            background: #E5E5E5;
        }
            .search-form input {
                border: 1px solid #B0B0B0;
            }
            .search-form .text {
                height: 34px;
                width: 200px;
                padding: 0 15px;
            }
            .search-form .search {
                width: 34px;
                height: 34px;
                margin-left: 8px;
                background: #F67004 url("../images/sidebar/search_icon.png") no-repeat center;
                text-indent: -9999px;
            }
        .banner {
            position: relative;
        }
            .banner .text {
                position: absolute;
                top: 30px;
                width: 100%;
                color: #000;
                font-size: 18px;
                font-weight: bold;
                text-align: center;
            }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrap-footer {
    margin-top: -116px;
    background: url("../images/footer/footer_bg.jpg");
}
    .footer {
        overflow: hidden;
        padding: 10px 0 16px;
    }
        .nav-footer {
            margin-bottom: 15px;
        }
            .nav-footer li:before {
                background: rgba(255, 255, 255, 0.3);
            }
            .nav-footer a {
                color: #fff;
            }
        .footer-logo {
            float: left;
        }
        .list-soc-links {
            float: right;
        }
            .list-soc-links li {
                overflow: hidden;
                float: left;
                margin-left: 9px;
                background: url("../images/footer/filter_soc_links.png") no-repeat;
            }
            .list-soc-links li:first-child {
                margin-left: 0;
            }
            .list-soc-links li:hover {
                opacity: 0.8;
            }
            .list-soc-links .fb {
                background-position: -41px 0;
            }
            .list-soc-links .vk {
                background-position: -83px 0;
            }
            .list-soc-links .tw {
                background-position: -125px 0;
            }
            .list-soc-links .od {
                background-position: -167px 0;
            }
            .list-soc-links .aaa {
                background-position: -208px 0;
            }
                .list-soc-links a {
                    display: block;
                    width: 34px;
                    height: 34px;
                    text-indent: -9999px;
                }

/*----------------------------------------------------------------------------------*/
/*-------------------------------------OTHER----------------------------------------*/
/*----------------------------------------------------------------------------------*/